.info{
    h2{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }
    margin-top:70px ;
    margin-bottom: 100px;
    input{
        width: 100%;
        margin-top: 10px;
        height: 40px;
        ::placeholder{
            font-weight: bold;
            margin-left: 90px;
        }
        
    }
}
.details-body{
    h2{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }
    table{
    
        th{
            border: 1px solid black;
            width: 10%;
        }
        tbody,tr,td{
            border: 1px solid black;
            text-align: center;
            input{
                cursor: pointer;
            }
        }
    }
}
input[type='submit']{
    margin-top: 50px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    //put thisin the centre and work on the color of thesubmit button
    background-color:rgb(175, 172, 167) ;
    transition: .5s ease;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
input[type='submit']:hover{
    background-color: antiquewhite;
    
}
@media (max-width:456px) {
    .info{
        
    }
    .details-body{
        h2{
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
        }
        table{
        
            th{
                border: 1px solid black;
                width: 10%;
            }
            tbody,tr,td{
                border: 1px solid black;
                text-align: center;
                font-size: 10px;
                input{
                    cursor: pointer;
                }
            }
        }
    }
}
@media (max-width:375px){
    .details-body{
        h2{
            text-align: center;
            font-size: 25px;
            font-weight: bolder;
        }
        table{
        
            th{
                border: 1px solid black;
                width: 10%;
            }
            tbody,tr,td{
                border: 1px solid black;
                text-align: center;
                font-size: 8px;
                input{
                    cursor: pointer;
                }
            }
        }
    }
}